h3 {
    font-family: arial,helvetica,sans-serif;
    font-size: 22pt;
	color: #26524b;
	text-align: center;
}
body {
background-color: #a1ede3;
}
.noteHeadline {
    font-family: chango;
    font-size: 20pt; font-weight: bold;
    color: #0d695c;
    padding: 20px;
}
.noteDescription {
    font-family: sans-serif;
    font-size: 15pt;
}